<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ICE_Import.Properties.Settings.TMLDB_CopyConnectionString"
            connectionString="Data Source=h9ggwlagd1.database.windows.net;Initial Catalog=TMLDB_Copy;Persist Security Info=True;User ID=dataupdate"
            providerName="System.Data.SqlClient" />
        <add name="ICE_Import.Properties.Settings.TMLDB_CopyConnectionString1"
            connectionString="Data Source=h9ggwlagd1.database.windows.net;Initial Catalog=TMLDB_Copy;User ID=dataupdate;Password=6dcEpZKSFRNYk^AN;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>